<footer>
    <a href="#"><img src="assets/images/logo.webp" alt="footer-logo" class="footer-logo"></a>

    <div class="box-container">

        <div class="box">
            <h3>our branches</h3>
            <a href="location"> <img src="/assets/icons/right-arrow.svg" alt="arrow" class="arrow"> Bandra</a>
            <a href="location"> <img src="/assets/icons/right-arrow.svg" alt="arrow" class="arrow"> Thane</a>
            <a href="location"> <img src="/assets/icons/right-arrow.svg" alt="arrow" class="arrow"> Vashi</a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="/"> <img src="/assets/icons/right-arrow.svg" alt="arrow" class="arrow"> home </a>
            <a href="about"> <img src="/assets/icons/right-arrow.svg" alt="arrow" class="arrow"> about </a>
            <a href="menu"> <img src="/assets/icons/right-arrow.svg" alt="arrow" class="arrow"> menu </a>
            <a href="location"> <img src="/assets/icons/right-arrow.svg" alt="arrow" class="arrow"> locations</a>
            <a href="booking"> <img src="/assets/icons/right-arrow.svg" alt="arrow" class="arrow"> book a table</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#"> <img src="/assets/icons/contact.svg" alt=""> +91 9978451260</a>
            <a href="#"> <img src="/assets/icons/envelop.svg" alt=""></i> coffeebean@cafe.in </a>
            <a href="#"> <img src="/assets/icons/location.svg" alt="">Bandra, Opposite Mount Carmel Church</a>
        </div>

        <div class="box follow-links">
            <h3>Follow Us</h3>

            <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" aria-label="facebook">
                <img src="/assets/icons/facebook.svg" alt="">
                <span class="text">facebook</span>
            </a>
            <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer" aria-label="twitter">
                <img src="/assets/icons/twitter.svg" alt="">
                <span class="text">twitter</span>
            </a>
            <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" aria-label="instagram">
                <img src="/assets/icons/instagram.svg" alt="">
                <span class="text">instagram</span>
            </a>
            <a href="/" aria-label="website">
                <img src="/assets/icons/online.svg" alt="">
                <span class="text">Website</span>
            </a>
        </div>

    </div>

    <div class="credit"> Copyright &copy; 2024 <span>Prasad Panchal</span> | all rights reserved </div>

</footer>