<footer>
    <a href="#"><img src="assets/images/logo.png" alt="footer-logo" class="footer-logo"></a>

    <div class="box-container">

        <div class="box">
            <h3>our branches</h3>
            <a href="location"> <img src="/assets/icons/right-arrow.svg" alt="arrow" class="arrow"> India </a>
            <a href="location"> <img src="/assets/icons/right-arrow.svg" alt="arrow" class="arrow"> USA </a>
            <a href="location"> <img src="/assets/icons/right-arrow.svg" alt="arrow" class="arrow"> france </a>
            <a href="location"> <img src="/assets/icons/right-arrow.svg" alt="arrow" class="arrow"> africa </a>
            <a href="location"> <img src="/assets/icons/right-arrow.svg" alt="arrow" class="arrow"> Japan </a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="/"> <img src="/assets/icons/right-arrow.svg" alt="arrow" class="arrow"> home </a>
            <a href="#about"> <img src="/assets/icons/right-arrow.svg" alt="arrow" class="arrow"> about </a>
            <a href="#menu"> <img src="/assets/icons/right-arrow.svg" alt="arrow" class="arrow"> menu </a>
            <a href="location"> <img src="/assets/icons/right-arrow.svg" alt="arrow" class="arrow"> locations</a>
            <a href="booking"> <img src="/assets/icons/right-arrow.svg" alt="arrow" class="arrow"> book a table
            </a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#"> <img src="/assets/icons/contact.svg" alt=""> +123-153-4569</a>
            <a href="#"> <img src="/assets/icons/envelop.svg" alt=""></i> coffeebean@cafe.in </a>
            <a href="#"> <img src="/assets/icons/location.svg" alt="">canada jalsdjfasdfoadsfoiu</a>
        </div>

        <div class="box">
            <h3>Follow Us</h3>
            <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"> <img src="/assets/icons/facebook.svg" alt=""> facebook </a>
            <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"> <img src="/assets/icons/twitter.svg" alt=""> twitter </a>
            <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"> <img src="/assets/icons/instagram.svg" alt=""> instagram </a>
            <a href="#" target="_blank" rel="noopener noreferrer"> <img src="/assets/icons/online.svg" alt="">Website </a>
        </div>

    </div>

    <div class="credit"> Copyright &copy; <span>Prasad Panchal</span> | all rights reserved </div>

</footer>