<header>
    <a href="#" class="logo" aria-label="Coffee Bean Cafe">
        <img src="assets/images/logo.webp" alt="">
    </a>

    <nav class="navbar">
        {{#each navData}}
        <a href="{{navLoc}}">{{nav}}</a>
        {{/each}}
    </nav>

    <div class="navbar2">
        <div class="barIcon">
            <div class="bars">
                <ul>
                    <li class="bar one"></li>
                    <li class="bar two"></li>
                    <li class="bar three"></li>
                </ul>
            </div>
        </div>

        <div class="dropdown-navbar">
            <div class="dropdown-links">
                {{#each navData}}
                <a href="{{navLoc}}">{{nav}}</a>
                {{/each}}
            </div>
        </div>
    </div>
</header>