header {
  transition: 1s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 20px;
  @include flexbox(center, space-between);
  z-index: 99;
  max-width: $maxwidth;
  margin: 0 auto;

  &.sticky {
    transition: 1s;
    margin: 15px auto;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid $second-color;
    background-color: #000000dc;
  }

  .logo img {
    width: 200px;
  }

  .navbar {
    a {
      text-transform: capitalize;
      text-decoration: none;
      color: $primary-color;
      font-size: 1.2rem;
      padding: 15px;
      margin: 5px;

      &:hover {
        color: $second-color;
      }
    }
  }

  .navbar2 {
    display: none;

    .barIcon {
      transition: 0.6s;
      position: relative;
      @include flexbox(center, center);
      padding: 20px;

      &:hover {
        scale: 1.1;
      }

      &:active {
        scale: 0.9;
      }

      .bars {
        max-height: 35px;
        height: 30px;
        width: 30px;
        cursor: pointer;
        transition: 0.1s;

        ul {
          list-style: none;

          .bar {
            transition: 0.5s;
            background-color: white;
            margin: 5px 0;
            border-radius: 50px;
            height: 3px;
            width: 100%;
          }
        }
      }

      &.xmark .bar.one {
        transform: rotate(-45deg) translate(-6px, 6px);
      }

      &.xmark .bar.two {
        opacity: 0;
      }

      &.xmark .bar.three {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    }

    .dropdown-navbar {
      display: none;
      position: absolute;
      top: 120px;
      right: 20px;
      background-color: #000000dc;
      border: 1px solid $second-color;
      border-radius: 20px;
      padding: 10px;

      .dropdown-links a {
        color: $primary-color;
        @include flexbox(center, center);
        font-size: 1.2rem;
        text-decoration: none;
        text-transform: capitalize;
        padding: 15px 40px;

        &:hover {
          color: $second-color;
        }
      }

      &.dropdown-navbar.open {
        // transition: ease 0.6s;
        display: block;
      }
    }
  }
}

@media(max-width: $maxwidth) {
  header.sticky {
    margin: 15px 40px;
  }
}

@media(max-width: $breakpoint-four) {
  header .navbar {
    display: none;
  }

  header .navbar2 {
    display: block;
  }
}


@media(max-width: $breakpoint-two) {
  header.sticky {
    padding: 10px;
    margin: 10px;
  }

  header .logo img {
    width: 150px;
  }

  header .navbar2 .dropdown-navbar {
    left: 20px
  }
}


@media(max-width: $breakpoint-one) {
  header .logo img {
    width: 120px;
  }

  .bars {
    height: 20px;
    width: 20px;
  }
}