@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 10px;
}

::selection {
  background-color: #c6a17971;
}

body.loading {
  overflow: hidden;
  pointer-events: none;
}

$primary-color: #eaeaea;
$second-color: #C6A179;
$third-color: #faf3eb;

$border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
$border-radius-hover: 4% 95% 6% 95%/95% 4% 92% 5%;

$maxwidth: 90rem;

$breakpoint-one: 30em; // 480
$breakpoint-two: 40em; //640
$breakpoint-three: 48em; //768
$breakpoint-four: 62em; //992

@mixin flexbox($align-items, $justify-content) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

section {
  width: 100%;
  padding: 120px 80px 130px;
}

section:nth-child(1),
#didYouKnow {
  padding: 0;
}

.heading {
  width: 100%;
  max-width: $maxwidth;
  margin: 0 auto;
  font-size: clamp(2.3rem, 12vw, 5.5rem);
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 0.8px black;
  letter-spacing: 0.2rem;
  text-align: center;
  pointer-events: none;
  position: relative;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: black;
    font-size: clamp(1.1rem, 5vw, 2rem)
  }
}

@media(max-width: $breakpoint-four) {
  section {
    padding: 100px 70px 110px;
  }
}

@media(max-width: $breakpoint-three) {
  section {
    padding: 90px 50px 70px;
  }
}

@media(max-width: $breakpoint-two) {
  section {
    padding: 90px 20px 50px;
  }
}

@media(max-width: $breakpoint-one) {
  .heading span {
    position: relative;
    display: block;
    top: -2px;
  }
}

.btn {
  padding: 10px;
  border: 3px solid $primary-color;
  border-radius: $border-radius;
  text-decoration: none;
  font-weight: 600;
  text-transform: capitalize;
  color: $primary-color;
  transition: 0.6s;
  font-size: clamp(0.8rem, 1.8vw, 1.2rem);

  &:hover {
    border-radius: $border-radius-hover;
    border: 3px dashed $second-color;
    color: $second-color
  }

  &:active {
    scale: 0.8;
  }
}


// for pages
.about-home,
.location-home,
.menu-home,
.booking-home {
  position: relative;
  min-height: 500px;
  overflow: hidden;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.538);
  background-blend-mode: darken;
  @include flexbox(center, center);
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  padding-top: 130px;
  text-transform: uppercase;
  text-align: center;

  h1 {
    letter-spacing: -2px;
    word-spacing: 5px;
    color: $primary-color;
    font-size: clamp(3rem, 7vw, 6rem);
    font-weight: 700;

    @media (max-width: $breakpoint-one) {
      & {
        font-size: 2rem;
      }
    }
  }

  p {
    color: $second-color;
    font-size: clamp(1rem, 3vw, 1.2rem);
    text-transform: capitalize
  }

  ul {
    @include flexbox (center, center);
    font-size: clamp(0.9rem, 3vw, 1.2rem);
    font-weight: 700;

    li {
      color: $second-color;
      list-style: none;

      a {
        color: $primary-color;
        text-decoration: none;
      }
    }

    img {
      height: 20px;
      margin: 20px;
    }
  }

  .scroll-down {
    height: clamp(18px, 2vw, 25px);
    position: absolute;
    bottom: 30px;

    img {
      height: 100%;
      width: 100%;
    }
  }
}


@import "header";
@import "allFiles";
@import "footer";