.about-home {
    background-image: url("/assets/images/home-bg3.avif");
}

.about-more {
    overflow: hidden;
    .about-container {
        width: 100%;
        max-width: $maxwidth;
        margin: 0 auto;
        display: flex;
        padding: 0 20px;

        img {
            width: 50%;
            padding: 20px 50px 0px;
            border-radius: $border-radius;

            @media (max-width: 900px) {
                & {
                    padding: 10px;
                }
            }
        }

        .about-content {
            height: 100%;
            margin: auto 30px;

            .heading {
                font-size: clamp(2.3rem, 7vw, 5.5rem);

                span {
                    font-size: clamp(1.1rem, 2vw, 2rem);
                }
            }

            p {
                color: $second-color;
                font-size: clamp(0.9rem, 3vw, 1.1rem);
                font-weight: 500;
                margin-top: clamp(10px, 2vw, 30px);
            }
        }
    }
}

.about-gallery {
    background-color: $third-color;

    .gallery-container {
        width: 100%;
        max-width: $maxwidth;
        margin: 0 auto;

        .gallery {
            text-align: center;
            padding: 20px;

            img {
                width: 300px;
                aspect-ratio: 1;
                object-fit: cover;
                border-radius: $border-radius;
                margin: 10px;
                transition: 1s ease;
                border: 3px solid #eaeaea;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

                &:hover {
                    border-radius: $border-radius-hover;
                    transform: scale(0.9);
                }
            }

            @media (max-width: 850px) {
                & {
                    padding: 10px;

                    img {
                        width: 250px;
                    }
                }
            }
        }
    }
}


@media (max-width: $breakpoint-three) {
    .about-more .about-container {
        display: block;
        text-align: center;

        img {
            width: 90%;
        }
    }
}

@media (max-width: $breakpoint-two) {
    .about-gallery .gallery-container .gallery {
        img:nth-child(n+5):nth-child(-n+10) {
            display: none;
        }
    }
}

@media (max-width: $breakpoint-one) {
    .about-more .about-container {
        padding: 0;

        img {
            width: 100%;
        }
    }

    .about-gallery .gallery-container .gallery img {
        width: 90%;
    }
}