<section id="error">
    <h1>404</h1>
    <p>Page not found</p>
    <p>This page is under development.</p>
    <img src="https://static.vecteezy.com/system/resources/previews/010/161/479/non_2x/coffee-stain-real-cup-mess-mark-free-png.png"
        alt="">
    <div class="backHome">
        <a href="/">Home</a>
        <a href="menu">Menu</a>
        <a href="location">Locations</a>
        <a href="booking">Book Table</a>
    </div>
</section>