<section id="error">
    <h1>404</h1>
    <p>Page not found</p>
    <p>This page is under development.</p>

    <div class="backHome">
        <a href="/">Home</a>
        <a href="about">About</a>
        <a href="menu">Menu</a>
        <a href="location">Locations</a>
        <a href="booking">Book Table</a>
    </div>
</section>