<section class="about-home">
    <h1>About Us</h1>
    <p>Coffee bean cafe</p>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <img src="assets/icons/nav-arrow.svg" alt="">
            <li>About</li>
        </ul>
    </nav>
</section>

<section class="about-more">
    <div class="about-container">
        <img src="https://cafezone.dexignlab.com/xhtml/images/about/pic4.jpg" alt="">
        <div class="about-content">
            <h1 class="heading">About Us <span>Know about us</span></h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius aliquam sapiente, nam rerum obcaecati
                quisquam, veritatis harum id iure alias corporis quibusdam non recusandae vitae voluptatum autem ea
                maxime cumque.
                Ea non autem officia id optio error libero modi fugiat delectus eos assumenda, voluptatum, corrupti quam
                ad quas debitis quia? Alias maiores amet exercitationem repellendus esse iste facilis nesciunt nulla?
            </p>
        </div>
    </div>
</section>

<section class="about-gallery">
    <h1 class="heading">Gallery <span>images</span></h1>

    <div class="gallery-container">
        <img src="assets/images/about-image.webp" alt="">
        <img src="assets/images/story.webp" alt="">
        <img src="https://cafezone.dexignlab.com/xhtml/images/about/pic4.jpg" alt="" class="big">
        <img src="assets\images\menuPage-bg.webp" alt="">
        <img src="assets\images\dYK-bg.webp" alt="">
        <img src="https://cafezone.dexignlab.com/xhtml/images/gallery/pic6.jpg" alt="" class="big">
        <img src="assets/images/follow-img4.webp" alt="">
        <img src="assets/images/follow-img3.webp" alt="">
        <img src="assets/images/follow-img1.webp" alt="">
        <img src="assets/images/follow-img2.webp" alt="">
    </div>
</section>