<section class="about-home">
    <h1>About Us</h1>
    <p>Coffee bean cafe</p>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <img src="assets/icons/nav-arrow.svg" alt="">
            <li>About</li>
        </ul>
    </nav>
    <a href="#{{jsFile}}-more" class="scroll-down"><img src="assets/icons/down-arrow.svg" alt="scroll-down"></a>
</section>

<section class="about-more" id="about-more">
    <div class="about-container">
        <img src="assets/images/about-image2.webp" alt="about image">
        <div class="about-content">
            <h1 class="heading">About Us <span>Know about us</span></h1>
            <p> &emsp; &emsp; Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius aliquam sapiente, nam rerum
                obcaecati
                quisquam, veritatis harum id iure alias corporis quibusdam non recusandae vitae voluptatum autem ea
                maxime cumque.
                Ea non autem officia id optio error libero modi fugiat delectus eos assumenda, voluptatum, corrupti quam
                ad quas debitis quia? Alias maiores amet exercitationem repellendus esse iste facilis nesciunt nulla?
                <br>
                <br>
                &emsp; &emsp; Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius aliquam sapiente, nam rerum
                obcaecati
                quisquam, veritatis harum id iure alias corporis quibusdam non recusandae vitae voluptatum autem ea
                maxime cumque.
                Ea non autem officia id optio error libero modi fugiat delectus eos assumenda, voluptatum, corrupti quam
                ad quas debitis quia? Alias maiores amet exercitationem repellendus esse iste facilis nesciunt nulla?
                <br>
                &emsp; &emsp; Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis fugiat earum ut,
                recusandae hic quo voluptates eum dignissimos libero perspiciatis quisquam nemo, perferendis quasi
                animi, vitae minima. Dolorum, eius nostrum.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus eum voluptatibus ducimus consectetur
                distinctio tempore dignissimos laborum in perferendis, fugiat, maxime unde molestias ab est hic, placeat
                quia mollitia recusandae!
                <br>
            </p>
        </div>
    </div>
</section>

<section class="about-gallery">
    <h1 class="heading">Gallery <span>images</span></h1>

    <div class="gallery-container">
        <div class="gallery">
            <img src="assets/images/about-image.webp" alt="about-images">
            <img src="assets/images/follow-img3.webp" alt="about-images">
            <img src="assets/images/follow-img2.webp" alt="about-images">
            <img src="assets/images/story.webp" alt="about-images">
            <img src="assets/images/menuPage-bg.webp" alt="about-images">
            <img src="assets/images/about-image2.webp" alt="about-images">
            <img src="assets/images/about-image3.webp" alt="about-images">
            <img src="assets/images/dYK-bg.webp" alt="about-images">
            <img src="assets/images/follow-img4.webp" alt="about-images">
            <img src="assets/images/follow-img1.webp" alt="about-images">
        </div>
    </div>
</section>