<section class="booking-home">
    <h1>Booking Page</h1>
    <p>Book a Table</p>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <img src="assets/icons/nav-arrow.svg" alt="">
            <li>Booking</li>
        </ul>
    </nav>
</section>

<section class="booking-more">
    <h1 class="heading">Book a Table <span>need a reservation?</span></h1>

    <div class="booking-container">
        <div class="booking-img">
            <img src="assets/images/about-image2.webp" alt="bookingimg1" class="bookingImg">
            <img src="assets/images/about-image.webp" alt="bookingimg2" class="bookingImg">
        </div>

        <div class="booking-form">

            <form action="#">
                <div class="input-box">
                    <div class="input-field field">
                        <label for="name">Name</label>
                        <input type="text" placeholder="Bob Stone" id="name" class="item" autocomplete="off">
                        <div class="error-txt">*Full Name can't be blank</div>
                    </div>
                    <div class="input-field field">
                        <label for="email">Email</label>
                        <input type="text" placeholder="example@email.com" id="email" class="item" autocomplete="off">
                        <div class="error-txt email">*Email Adderss can't be blank</div>
                    </div>
                </div>

                <div class="input-box">
                    <div class="input-field field">
                        <label for="phone">Phone Number</label>
                        <input type="text" placeholder="9876543210" id="phone" class="item" autocomplete="off">
                        <div class="error-txt number">*Phone number can't be blank</div>
                    </div>
                
                    <div class="input-field field">
                        <label for="location">Location</label>
                        <select name="location" id="location" class="item">
                            <option value="">Select a Location</option>
                            <option value="">Bandra</option>
                            <option value="">Thane</option>
                            <option value="">Vashi</option>
                        </select>
                        <div class="error-txt place">*Location cannot be none</div>
                    </div>
                </div>

                <div class="input-box">
                    <div class="input-field field">
                        <label for="phone">Phone Number</label>
                        <input type="text" placeholder="9876543210" id="phone" class="item" autocomplete="off">
                        <div class="error-txt number">*Phone number can't be blank</div>
                    </div>

                    <div class="input-field field">
                        <label for="phone">Phone Number</label>
                        <input type="text" placeholder="9876543210" id="phone" class="item" autocomplete="off">
                        <div class="error-txt number">*Phone number can't be blank</div>
                    </div>
                </div>

                <div class="textarea-field field">
                    <label for="message">Any message for us</label>
                    <textarea name="" id="message" cols="20" rows="5" placeholder="Your Message" class="item"
                        autocomplete="off"></textarea>
                    <div class="error-txt">*Message can't be blank</div>
                </div>

                <button type="submit">Book a Table</button>
            </form>

        </div>
    </div>
</section>