<section class="booking-home">
    <h1>Booking Page</h1>
    <p>Book a Table</p>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <img src="assets/icons/nav-arrow.svg" alt="">
            <li>Booking</li>
        </ul>
    </nav>
</section>