<section class="location-home">
    <h1>Our Location</h1>
    <p>visit our shop near you for great coffee.</p>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <img src="assets/icons/nav-arrow.svg" alt="">
            <li>Location</li>
        </ul>
    </nav>
</section>

<section class="location-more">
    <h1 class="heading"> where are we <span>our locations</span></h1>

    <div class="location-container">

    </div>
</section>