<section class="location-home">
    <h1>Our Location</h1>
    <p>visit our shop near you for great coffee.</p>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <img src="assets/icons/nav-arrow.svg" alt="">
            <li>Location</li>
        </ul>
    </nav>
</section>

<section class="location-more">
    <h1 class="heading"> where are we <span>our locations</span></h1>

    <div class="location-container">

        <article class="big">
            <img src="assets/images/location-img1.webp"
                alt="">
            <div class="loc-info">
                <h2>Bandra</h2>
                <p>Opposite Mount Carmel Church</p>
            </div>
        </article>

        <div class="small">
            <article>
                <img src="assets/images/location-img2.webp"
                    alt="">
                <div class="loc-info">
                    <h2>Thane</h2>
                    <p>Viviana Mall, Next to Inox Cinemas</p>
                </div>
            </article>

            <article>
                <img src="assets/images/location-img3.webp"
                    alt="">
                <div class="loc-info">
                    <h2>Vashi, Navi-Mumbai</h2>
                    <p>Palm Beach Galleria, Vashi</p>
                </div>
            </article>
        </div>

    </div>

</section>