.booking-home {
    background-image: url("/assets/images/booking-bg.webp");
    background-color: rgba(0, 0, 0, 0.6);
}

.booking-more {
    background-color: #faf3eb;

    .booking-container{
        @include flexbox(flex-start, center);
        margin-top: 50px;
        border: 1px solid #000;

        .booking-img{
            width: 35%;
            @include flexbox(center, space-around);
            flex-direction: row;

            img{
                width: 45%;
                min-height: 500px;
                object-fit: cover;
                border-radius: 8px;
            }
        }

        .booking-form{
            width: 50%;
            min-height: 500px;
            margin-left: 30px;

            form {
                text-align: center;

                .input-box{
                    position: relative;
                    @include flexbox(null, space-around);
                    flex: 1;
                    gap: 20px;

                    .input-field{
                        width: 50%;
                    }
                }

                .field {
                    // @include flexbox(center, center)

                    .item {
                        outline: none;
                        padding: 15px;
                        width: 100%;
                        border-radius: 10px;
                        margin-bottom: 25px;
                        border: 2px solid #fff;
                        transition: 0.6s;

                        &:hover{
                            border: 2px solid $primary-color;
                        }

                        &:active{
                            border: 2px solid $second-color;
                        }

                        &:focus{
                            border: 2ps solid $second-color;
                        }
                    }
                    
                    textarea{
                        resize: none;
                    }
                }

                button{
                    padding: 10px;
                    border: 2px solid $primary-color;
                    border-radius: 10px;
                }
            }
        }
    }
}