#review {
  overflow: hidden;
  background-color: $third-color;
  position: relative;
  width: 100%;

  .review-bg {
    height: 500px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .swiper {
    width: 90%;
    height: 100%;
    padding-top: 20px;
    width: 100%;
    max-width: $maxwidth;
    margin: 0 auto;

    .swiper-slide {
      transition: 0.6s;
      text-align: center;
      font-size: 18px;
      background: #ffffffe4;
      padding: 50px;
      border: 3px solid $primary-color;
      border-radius: $border-radius;
      position: relative;
      display: flex;

      .quoteLeft,
      .quoteRight {
        transition: all 0.6s;
        height: 40px;
        position: absolute;
      }

      .quoteLeft {
        top: 30px;
        left: 30px;
      }

      .quoteRight {
        bottom: 30px;
        right: 30px;
      }

      .review-content {
        h2 {
          font-size: 2rem;
          font-family: "Montserrat", sans-serif;
          padding: 10px;
          text-transform: capitalize;
        }

        img {
          height: 100px;
          border-radius: 50%;
          border: 3px solid $second-color;
        }

        .stars {
          padding: 10px;

          img {
            border: 0.5px solid $primary-color;
            height: 20px;
            border: none;
          }
        }

        p {
          font-size: clamp(0.9rem, 2vw, 1.1rem);
          padding: 10px 20px;
          color: $second-color;
        }
      }
    }

    &:hover {
      .swiper-slide {
        border: 3px dashed $second-color;

        .quoteLeft {
          top: 10px;
          scale: 1.2;
        }

        .quoteRight {
          bottom: 10px;
          scale: 1.2;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-two) {
  #review .swiper .swiper-slide{
      padding: 20px;
  }
}